
.results {
  background-color: green;
  color: #fff;
  border: 1px solid black;
  margin-top: 1rem;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__box {
    border: 3px solid #fff;
    padding: 3rem;
    &-header {

    }
    &-list {
      
      &-item {

      }
    }
  }
}
